@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: opacity 1.3s ease-in-out;
}

/* Background */

.bg-hero {
  background-image: url(./Images/bBox.png), url(./Images/bBox.png),
    url(./Images/hBox.png);
  background-position: right 71% top 48%, right 22.2% bottom 30%,
    left -2.99% bottom 6.05%;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .bg-hero {
    background-image: url(./Images/bBox.png), url(./Images/bBox.png),
      url(./Images/bBox.png), url(./Images/hBox.png);
    background-position: left 9% top 4.5%, right 40% top 25%,
      right 4.48% bottom 38%, left -2.99% bottom 6.05%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .bg-mech-com {
    background-image: url(./Images/Ellipse1.png), url(./Images/Ellipse2.png),
      url(./Images/Ellipse1.png), url(./Images/Ellipse2.png),
      url(./Images/Ellipse1.png), url(./Images/EllipseD.png);
    background-position: left 0px top 62rem, right 0px top 80rem,
      left 0px top 98rem, right 0px top 120rem, left 0px top 140rem,
      right 50% bottom 1rem;
    background-repeat: no-repeat;
  }
}
.bg-footer {
  background-image: url(./Images/Rect1.png), url(./Images/Rect2.png);
  background-repeat: no-repeat;
  background-position: left 0px bottom 0rem, right 0px bottom 0rem;
}

/* Background */

/* Body CSS */

/* Calc Styles */
.h1-calc {
  font-size: calc(24px + (64 - 24) * ((100vw - 300px) / (1600 - 300)));
}
.p-calc {
  font-size: calc(13px + (24 - 13) * ((100vw - 400px) / (1600 - 300)));
}
/* Calc Styles */
/* Body CSS */

#box {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 64px 0px 45px;
  gap: 45px;

  width: 16px;
  height: 30px;

  background: linear-gradient(180deg, #1f3180 0%, rgba(31, 49, 128, 0) 100%);
  /* Foundation /Green/Normal */

  border-left: 4px solid #1ed760;
  border-radius: 32px;
}
/* Body CSS */
/* Personal Configs */

.box-g {
  background: linear-gradient(180deg, #1f3180 0%, rgba(31, 49, 128, 0) 100%);
}

.box-t {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 256px;
  line-height: 350px;

  background: linear-gradient(180deg, #2941ab 0%, rgba(255, 255, 255, 0) 72.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* Personal Configs */
/* Body CSS */
