@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background */

.bg-light {
  background-image: url(./bBox.png), url(./bBox.png), url(./bBox.png),
    url(./hBox.png);
  background-position: 12vw 90px, right 40vw top 8vw, right 3em bottom 18vw,
    left -23px bottom 90px;
  background-repeat: no-repeat;
}
/* Background */

/* Body CSS */

/* Calc Styles */
.h1-calc {
  font-size: calc(24px + (64 - 24) * ((100vw - 300px) / (1600 - 300)));
}
.p-calc {
  font-size: calc(13px + (24 - 13) * ((100vw - 400px) / (1600 - 300)));
}

.l-calc {
  left: calc(28vw + (30 - 28) * ((100vw - 300px) / (1600 - 300)));
}
/* Body CSS */

#box {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 64px 0px 45px;
  gap: 45px;

  width: 16px;
  height: 30px;

  background: linear-gradient(180deg, #1f3180 0%, rgba(31, 49, 128, 0) 100%);
  /* Foundation /Green/Normal */

  border-left: 4px solid #1ed760;
  border-radius: 32px;
}
/* Body CSS */
/* Second Body */
.line-1 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(13) 1.5s 1 normal both,
    blinkTextCursor 500ms steps(13) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* Second Body */
